.banner {
	display: block;
	position: relative;
	width: 100%;
	min-height: 100px;
	height: auto;
	padding: 20px 20px 20px 20px;
	background: darkblue;

	@mixin atSmall {
		
	}
}

.banner-nav {
	text-align: center;
	width: 100%;
	margin-top: auto;
	padding: 10px 20px 20px;

	@mixin atSmall {
		float: right;
		margin: 25px 0 0 0;
	}
}

.banner-nav a {
	color: white;
    font-style: oblique;
    font-weight: 300;
    background: darkblue;
	margin: 9px;
	

    @mixin atSmall {
    	padding: 10px 15px 3px;
	}
}

.banner-nav a:hover 

	@mixin atSmall {
		background-color: #FF4141;
		border: 1px solid #FF4141;
		color: #FFFFFF;
	}

.banner-nav b:last-child a {
	
	@mixin atSmall {
		padding: 1px 15px 3px;
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
}