#slider {
	overflow: hidden;
	height: 350px;
}
#slider figure div {
	width: 33.333333%;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
#slider figure img {
	width: 100%;
	float: left;
}

#slider figure {
	position: relative;
	width: 300%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 40s slidy infinite;
}
@keyframes slidy {

0% {
	left: 0%;
}
2% {
	left: 0%;
}
8% {
	left: 0%;
}
9% {
	left: 0%;
}
10% {
	left: 0%;
}
12% {
	left: -100%;
}
20% {
	left: -100%;
}
22% {
	left: -100%;
}
30% {
	left: -100%;
}
32% {
	left: -100%;
}
40% {
	left: -200%;
}
42% {
	left: -200%;
}
50% {
	left: -200%;
}
52% {
	left: -200%;
}
60% {
	left: -200%;
}
62% {
	left: -100%;
}
70% {
	left: -100%;
}
76% {
	left: -100%;
}
80% {
	left: -100%;
}
82% {
	left: -100%;
}
88% {
	left: 0%;
}
92% {
	left: 0%;
}
94% {
	left: 0%;
}
96% {
	left: 0%;
}
100% {
	left: 0%;
}
}