.tile-container {
	background: darkblue;
	padding: 0;
	margin-top: auto;
	border-radius: 0;
	border: 0 none;
	z-index: 1;
	display: flex;
	flex: 1;
	justify-content: space-between;
	flex-wrap: wrap;
	text-transform: uppercase;
	background: darkgray;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	padding: 10px 5px 10px 5px;
	}

.tile-container a {
	font-size: 17px;
}
.tile {
	
	flex-basis: 47%;
	/*height: 125px;
	width: 125px;*/
	box-sizing: border-box;
    background-color: darkblue;
    margin: 5px;
    padding: 5px;
    text-align: center;
    line-height: 14px;
    border-radius: 20px;
    -webkit-transition: width 2s, height 2s;
    transition: width 2s, height 2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;

    @mixin atSmall {
    	margin: 20px;
    	padding: 20px;
    	text-align: center;
    }
}
.tile:hover {
	box-shadow: 10px 10px 5px black;
	text-align: center;
	box-sizing: border-box;
}
.fa {
	display: inline-block;
}